extends layout

block content
  div(class='grid')
    div(class='col')
      h1= title
      p Welcome to #{title}
  div(id='wrapper')
    div(id='buildZone')
      div(id='container-canvas')
        canvas(id='canvas')
      div(id='controls')
        span(id='square') 
          i(data-feather='square')
        span(id='circle')
          i(data-feather='circle')
        span(id='triangle')
          i(data-feather='triangle')
        span(id='download')
          i(data-feather='download')
        span(id='upload')
          i(data-feather='upload')
        span(id='clear')
          i(data-feather='trash')
    div(id='styleZone')
  
  script(type='text/javascript',src='/javascripts/draw.js')